.owl-item img {
    max-width: 1000px;
    margin: auto;

}

.form-group {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.checkbox-inline, .radio-inline{
    line-height: 150%;
    margin-right: 20px;
}

.time_start{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

body{
    overflow: hidden;
}

#custom_input{
    height: 100vh;
}
.owl-carousel{
    height: 100%;
}
.owl-stage-outer {
    height: calc( 100vh );
}

.table-scroll {
    height: 100%;
    overflow: auto;
}

.contain {
    object-fit: contain;
    font-family: 'object-fit: contain;';
    max-height: 90vh;
    min-height: 200px;
}

#submit{
    margin: auto;
}

.database_success{
    display: none;
    background-color: #2ae257;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    padding: 100px;
}
.database_fail{
    display: none;
    background-color: #ff533a;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    padding: 100px;
}

.owl-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-item > div {
    max-width: 800px;
    width: 100%;
    margin: auto;
    text-align: center;
}
