/* Main body */
body{
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    align-content: center;
}

#custom_input{
    height: 100%;
    width: 100%;
}
.owl-carousel{
    height: 100%;
}

.owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.owl-item > div {
    width: 800px;
}


/* Missing input value */

input:invalid {
  border: 5px solid #ffdddd;
  outline: 5px solid #ffdddd;
}

/* Basic elements */
.owl-item img {
    object-fit: contain;
    font-family: 'object-fit: contain;';
    max-height: 90vh;
    min-height: 200px;
    margin: auto;
}

.form-group {
    margin: auto;
}

.checkbox-inline, .radio-inline{
    line-height: 150%;
    margin-right: 20px;
}

.buttonNext {
    margin-top:30px;
    margin-bottom:30px;
}

.buttonPrev {
    margin-top:30px;
    margin-bottom:30px;
}

p {
    margin:auto;
    margin-bottom:30px;
}
