/* Main body */
body{
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    align-content: center;
}

#custom_input{
    height: 100vh;
}
.owl-carousel{
    height: 100%;
}

.owl-item {
    display: flex;
    justify-content: center;
    height: 100%;
}

.owl-item > div {
    max-width: 800px;
    width: 100%;
    margin: auto;
}


/* Submitting results */
.database_success{
    display: none;
    background-color: #2ae257;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    padding: 100px;
}

.database_fail{
    display: none;
    background-color: #ff533a;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    padding: 100px;
}


/* Basic elements */
.owl-item img {
    object-fit: contain;
    font-family: 'object-fit: contain;';
    max-height: 90vh;
    min-height: 200px;
    margin: auto;
}

.form-group {
    margin: auto;
}

.checkbox-inline, .radio-inline{
    line-height: 150%;
    margin-right: 20px;
}

.buttonNext {
    margin-top:30px;
    margin-bottom:30px;
}

.buttonPrev {
    margin-top:30px;
    margin-bottom:30px;
}

p {
    margin:auto;
    margin-bottom:30px;
}
